.button-group {
	@extend .inline-flex;
	@extend .flex-nowrap;

	padding: em(3);
	border: 1px solid transparent;
	border-radius: $global-border-radius;
	background-color: var(--background-norm);

	&-outline {
		border-color: var(--border-norm);
	}

	&-item {
		padding: em(6) em(8) em(5);
		border-radius: $global-border-radius / 2;

		&.button-for-icon {
			padding: em(6) em(6) em(5);
		}

		&.is-selected {
			background-color: var(--interaction-norm);
			color: var(--interaction-norm-contrast);
		}
	}

	.vr {
		margin: em(1) em(3);
	}
}
