@use "sass:math";
.button-group {
	@extend .inline-flex;
	@extend .flex-nowrap;
	@extend .flex-align-items-stretch;

	padding: em(3);
	border: 1px solid transparent;
	border-radius: $global-border-radius;
	background-color: var(--background-norm);
	vertical-align: middle;

	&-outline {
		border-color: var(--border-norm);
	}

	&-item {
<<<<<<< HEAD
		padding: em(3) em(8) em(3);
		border-radius: math.div($global-border-radius, 2);
=======
		padding-block: em(3);
		padding-inline: em(8);
		border-radius: $global-border-radius / 2;
>>>>>>> Fix - logical all the things git add .!

		&.button-for-icon {
			padding-block: em(5.5);
			padding-inline: em(6);
		}

		&.is-selected {
			background-color: var(--interaction-norm);
			color: var(--interaction-norm-contrast);
		}
	}

	.vr {
		margin-block: em(2);
		margin-inline: em(3);
	}

	/*
	 * Small variant
	 */

	&-small {
		padding: em(2);

		.vr {
			margin: em(2);
		}
	}

	&-small &-item {
		padding: em(1);
		padding-inline: em(4);
		line-height: $base-line-height * 0.8;

		&.button-for-icon {
			padding: em(2);
		}
	}

	/*
	 * Large variant
	 */

	&-large {
		padding: em(4);

		.vr {
			margin: em(2);
			margin-inline: em(4);
		}
	}

	&-large &-item {
		padding-block: em(4.5);
		padding-inline: em(12);

		&.button-for-icon {
			padding: em(7);
		}
	}
}
