$scrollshadow-size: rem(5) !default;

.scroll {
	&-child {
		display: inline-block;
	}

	&-outer {
		&-horizontal {
			position: relative;

			.scroll-inner {
				position: relative;
				overflow-x: auto;
			}

			.scroll-start-shadow {
				z-index: 1;
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				width: $scrollshadow-size;
				background-image: radial-gradient(
					farthest-side at 0 50%,
					var(--background-strong),
					transparent
				);
			}

			.scroll-end-shadow {
				z-index: 1;
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				width: $scrollshadow-size;
				background-image: radial-gradient(
					farthest-side at 100% 50%,
					var(--background-strong),
					transparent
				);
			}
		}

		&-vertical {
			position: relative;

			.scroll-inner {
				position: relative;
				overflow-y: auto;
			}

			.scroll-start-shadow {
				z-index: 1;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				height: $scrollshadow-size;
				background-image: radial-gradient(
					farthest-side at 50% 0,
					var(--background-strong),
					transparent
				);
			}

			.scroll-end-shadow {
				z-index: 1;
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				height: $scrollshadow-size;
				background-image: radial-gradient(
					farthest-side at 50% 100%,
					var(--background-strong),
					transparent
				);
			}
		}
	}
}
