$tooltip-width: 14.5em !default;
$arrow-width: 0.5em !default;
$tooltip-bg-color: var(--tooltip-background-color, black);
$tooltip-text-color: var(--tooltip-text-color, white);

/* basic tooltip styles */
.tooltip {
	position: fixed;
	z-index: 666;
	min-inline-size: $arrow-width;
	max-inline-size: $tooltip-width;
	border-radius: $global-border-radius;
	background: $tooltip-bg-color;
	color: $tooltip-text-color;
	padding-block: 0.5em;
	padding-inline: 0.7em;
	text-align: center;
	word-break: break-word;

	// colored versions
	@each $color in (primary, danger, warning, success, info) {
		$prefix: '';
		@if $color != 'primary' {
			$prefix: 'signal-';
		}

		&-#{$color} {
			--tooltip-background-color: var(--#{$prefix + $color});
			--tooltip-text-color: var(--#{$prefix + $color}-contrast);
		}
	}

	kbd {
		background-color: #464b58;
	}

	// Placement

	&--top-left {
		border-end-start-radius: 0;
	}

	&--top-right {
		border-end-end-radius: 0;
	}

	&--bottom-left {
		border-start-start-radius: 0;
	}

	&--bottom-right {
		border-start-end-radius: 0;
	}

	&--left-bottom {
		border-end-end-radius: 0;
	}

	&--right-bottom {
		border-end-start-radius: 0;
	}

	&--left-top {
		border-start-end-radius: 0;
	}

	&--right-top {
		border-start-start-radius: 0;
	}

	/* pseudo-element to make arrows */
	&::before {
		content: '';
		speak: none;
		position: absolute;
		z-index: 666;
		inline-size: $arrow-width;
		block-size: $arrow-width;
		pointer-events: none;
		border: $arrow-width solid transparent;
	}

	&--top::before,
	&--top-left::before,
	&--top-right::before {
		inset-block-start: 100%;
		border-block-start: $arrow-width solid $tooltip-bg-color;
	}

	&--bottom::before,
	&--bottom-left::before,
	&--bottom-right::before {
		inset-block-end: 100%;
		border-block-end: $arrow-width solid $tooltip-bg-color;
	}

	&--right::before,
	&--right-top::before,
	&--right-bottom::before {
		inset-inline-start: -#{$arrow-width * 2};
		border-inline-end: $arrow-width solid $tooltip-bg-color;
	}

	&--left::before,
	&--left-top::before,
	&--left-bottom::before {
		inset-inline-end: -#{$arrow-width * 2};
		border-inline-start: $arrow-width solid $tooltip-bg-color;
	}

	&--top::before,
	&--bottom::before {
		inset-inline-start: calc(50% - #{$arrow-width});
	}

	&--top-left::before,
	&--bottom-left::before {
		inset-inline-start: 0;
	}

	&--top-right::before,
	&--bottom-right::before {
		inset-inline-end: 0;
	}

	&--left::before,
	&--right::before {
		inset-block-start: calc(50% - #{$arrow-width});
	}

	&--left-top::before,
	&--right-top::before {
		inset-block-start: 0;
	}

	&--left-bottom::before,
	&--right-bottom::before {
		inset-block-end: 0;
	}
}
