.topnav-link {
	&--blackfriday::before {
		content: '';
		position: absolute;
		inline-size: rem(7);
		block-size: rem(7);
		background: var(--signal-danger);
		border-radius: 50%;
		inset-inline-start: calc(#{rem(17.5)} + #{rem(15)});
		inset-block-start: calc(50% - #{rem(14)});
	}
}

.topnav-list > li:not(:last-child) {
	margin-inline-end: 0.25em;

	/* Decrease margins (was 1em) */
	@include respond-to(1500) {
		margin-inline-end: 1px;
	}
}

.topnav-icon {
	margin-inline-end: 0.5em;
}

.topnav-vr {
	@include respond-to(1500) {
		display: none;
	}
}

@include respond-to(1700) {
	.topnav-list--four-elements {
		.navigation-title {
			// equivalent of .sr-only, but impossible to extend in a breakpoint
			border: 0;
			clip: rect(0 0 0 0);
			block-size: 1px;
			margin: -1px;
			overflow: hidden;
			padding: 0;
			position: absolute;
			inline-size: 1px;
		}

		.topnav-icon {
			margin-inline-end: 0;

			&.expand-caret {
				margin-inline-start: 0.25em;
			}
		}
	}
}

@include respond-to(870) {
	.topnav-list--four-elements {
		.topnav-link {
			padding-inline-start: rem(5);
			padding-inline-end: rem(5);
		}

		.topnav-link--blackfriday::before {
			inset-inline-start: calc(#{rem(5)} + #{rem(15)});
		}
	}
}

@include respond-to(1100) {
	.navigation-title {
		// equivalent of .sr-only, but impossible to extend in a breakpoint
		border: 0;
		clip: rect(0 0 0 0);
		block-size: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		inline-size: 1px;
	}

	.topnav-icon {
		// Specificity -_-v
		&#{&} {
			margin-inline-end: 0;
		}
	}
}

@include respond-to($breakpoint-small) {
	.topnav-icon {
		// Specificity -_-v
		&#{&} {
			inline-size: rem(24);
			block-size: rem(24);
		}
	}

	.topnav-list--four-elements .topnav-link {
		padding-inline-start: rem(10);
		padding-inline-end: rem(10);
	}

	.topnav-list--four-elements .topnav-link--blackfriday::before,
	.topnav-link--blackfriday::before {
<<<<<<< HEAD
		left: calc(#{rem(10)} + #{rem(22)});
		top: calc(50% - #{rem(18)});
=======
		inset-inline-start: calc(#{rem(17.5)} + #{rem(22)});
		inset-block-start: calc(50% - #{rem(18)});
>>>>>>> Fix - logical all the things git add .!
	}
}

@include respond-to($breakpoint-tiny) {
	.topnav-list--four-elements .topnav-link,
	.topnav-link {
		padding-inline-start: rem(2);
		padding-inline-end: rem(2);
	}

	.topnav-list--four-elements .topnav-link--blackfriday::before,
	.topnav-link--blackfriday::before {
		inset-inline-start: calc(#{rem(5)} + #{rem(22)});
	}
}
