@use "sass:math";
$treeview-border-width: 1px !default;
$treeview-indentation-margin: rem(30) !default;

.treeview-item {
	border-block-end: $treeview-border-width solid var(--border-norm);
	margin-block-end: -$treeview-border-width;

	$arrow-width: rem(9) !default;
	$arrow-height: rem(7) !default;
	$circle-size: rem(8) !default;

	&--move-inside,
	&--move-top,
	&--move-bottom {
		&::before {
			content: '';
			position: absolute;
		}
	}

	&--move-inside {
		background-color: var(--background-weak);

		&::before {
			inset-inline-start: -$arrow-width;
			block-size: 0;
			inline-size: 0;
			border: $arrow-height solid transparent;
			border-inline-start-color: var(--interaction-norm);
			border-inline-start-width: $arrow-width;
		}
	}

	&--move-top,
	&--move-bottom {
		&::before {
<<<<<<< HEAD
			left: -#{math.div($circle-size, 2)};
			height: $circle-size;
			width: $circle-size;
=======
			inset-inline-start: -#{$circle-size/2};
			block-size: $circle-size;
			inline-size: $circle-size;
>>>>>>> Fix - logical all the things git add .!
			border-radius: 50%;
			background: var(--interaction-norm);
		}
	}

	&--move-inside#{&}--self-grabbed {
		// no primary color on the self grabbed element
		&::before {
			border-inline-start-color: var(--border-norm);
		}
	}

	&--move-top::before {
<<<<<<< HEAD
		top: -#{math.div($circle-size, 2)};
	}

	&--move-bottom::before {
		bottom: -#{math.div($circle-size, 2)};
=======
		inset-block-start: -#{$circle-size/2};
	}

	&--move-bottom::before {
		inset-block-end: -#{$circle-size/2};
>>>>>>> Fix - logical all the things git add .!
	}

	&--move-top::after,
	&--move-bottom::after {
		content: '';
		position: absolute;
		inset-inline: 0;
		block-size: 1px;
		background: var(--interaction-norm);
	}

	&--move-top::after {
		inset-block-start: 0;
	}

	&--move-bottom::after {
		inset-block-end: -1px;
	}

	.treeview-item .treeview-item {
		padding-inline-start: $treeview-indentation-margin;

		&.treeview-item--move-inside {
			background: linear-gradient(
				to right,
				transparent 0,
				transparent #{$treeview-indentation-margin},
				var(--background-weak) #{$treeview-indentation-margin}
			);

			&::before {
				inset-inline-start: calc(
					-#{$arrow-width} + #{$treeview-indentation-margin}
				);
			}
		}

		&.treeview-item--move-top,
		&.treeview-item--move-bottom {
			&::before {
<<<<<<< HEAD
				left: calc(
					-#{math.div($circle-size, 2)} + #{$treeview-indentation-margin}
=======
				inset-inline-start: calc(
					-#{$circle-size/2} + #{$treeview-indentation-margin}
>>>>>>> Fix - logical all the things git add .!
				);
			}
		}

		&--move-top::after,
		&--move-bottom::after {
			inset-inline-start: #{$treeview-indentation-margin};
		}
	}
}

@include respond-to($breakpoint-medium) {
	.treeview-toggle,
	.treeview-actions {
		inline-size: em(100);
	}
}
