/*
 * Theme: Proton (default)
 */
:root,
.ui-standard {
	--primary: #9397cd;
	--primary-contrast: white;

	--signal-danger: #d42f34;
	--signal-danger-hover: #c7262b;
	--signal-danger-active: #ba1e23;
	--signal-danger-contrast: white;

	--signal-warning: #f5830a;
	--signal-warning-hover: #f5730a;
	--signal-warning-active: #f5640a;
	--signal-warning-contrast: black;

	--signal-success: #1b8561;
	--signal-success-hover: #147857;
	--signal-success-active: #0f6b4c;
	--signal-success-contrast: white;

	--signal-info: #e3e4f2;
	--signal-info-hover: #0e6dc2;
	--signal-info-active: #0764b5;
	--signal-info-contrast: white;

	--text-norm: #262a33;
	--text-weak: #696f7d;
	--text-hint: #a4a9b5;
	--text-disabled: #babec7;
	--text-invert: white;

	--field-norm: #babec7;
	--field-hover: #a4a9b5;
	--field-disabled: #d0d3da;

	--border-norm: #acb0bf;
	--border-weak: #acb0bf;

	--background-norm: white;
	--background-weak: #e6eaf0;
	--background-strong: #e7e9ec;

	--interaction-norm: #9397cd;
	--interaction-norm-hover: #8286c5;
	--interaction-norm-active: #3c4b88;
	--interaction-norm-contrast: white;

	--interaction-weak: #d0d3da;
	--interaction-weak-hover: #babec7;
	--interaction-weak-active: #a4a9b5;

	--interaction-default: transparent;
	--interaction-default-hover: rgb(186 190 199 / 0.2);
	--interaction-default-active: rgb(186 190 199 / 0.3);

	--shadow-norm-opacity: 0.1;
	--shadow-lifted-opacity: 0.16;

	--backdrop-norm: rgb(38 42 51 / 0.48);

	// Optional colors

	--scrollbar-thumb-color: #d0d3da;
	--scrollbar-thumb-hover-color: #babec7;

	--main-border-color: transparent;
	--toolbar-text-color: #666;

	--toolbar-background-color: #fff;
	--toolbar-separator-color: transparent;
	--searchbox-background-color: hsla(0, 0%, 90.2%, 0.2);

	//--header-background-color: #6a6f7c; // need a gradient or something else

	--email-item-selected-background-color: #828895;
	--favorite-icon-color: #dfdf19;

	--select-all-border: #acb0bf;
	--select-all-background: #fff;
	--select-all-background-hover: #ededee;
	--select-all-background-checked-hover: #acb0bf;

	--message-header-extra-background: #d9dfe8;

	/*
	--header-background-color
	--sidebar-background-color
	--navigation-current-item-marker-color
	--navigation-current-item-background-color
	--navigation-current-item-text-color
	--main-box-shadow
	--main-border-color
	--navigation-item-count-background-color
	--navigation-item-count-text-color
	--toolbar-background-color
	--toolbar-text-color
	--toolbar-separator-color
	--scrollbar-thumb-color
	--scrollbar-thumb-hover-color
	--tooltip-background-color
	--tooltip-text-color
	--email-item-read-background-color
	--email-item-unread-background-color
	--email-item-selected-background-color
	--email-item-focus-marker-color
	--field-background-color
	--field-text-color
	--field-placeholder-color
	--field-hover-background-color
	--field-hover-text-color
	--field-focus-background-color
	--field-focus-text-color
	--field-disabled-background-color
	--field-disabled-text-color
	--favorite-icon-color
	--mark-background-color
	--mark-text-color
	--mark-font-weight
	--modal-background-color
	--modal-text-color
	--file-preview-text-color
	--file-preview-background-color

	--select-all-border
	--select-all-background
	--select-all-background-hover
	--select-all-background-checked-hover

	--message-header-extra-background
	--message-header-extra-color
	*/
}

// need a special custom prop for this one

.item-container.item-is-selected {
	&,
	.item-subject,
	.item-senddate-col {
		color: #fff !important;
	}
}

.toolbar {
	border-bottom: 1px solid #acb0bf;
}

// Prominent UI specifics

.ui-prominent {
	--text-norm: white;
	--text-weak: #949bb9;
	--text-hint: #565f84;
	--text-disabled: #444e72;
	--text-invert: #1c223d;

	--field-norm: #565f84;
	--field-hover: #949bb9;
	--field-disabled: #353e60;

	--border-norm: #353e60;
	--border-weak: #272f4f;

	--background-norm: #1c223d;
	--background-weak: #212946;
	--background-strong: #272f4f;

	--interaction-norm: #9397cd;
	--interaction-norm-hover: #8286c5;
	--interaction-norm-active: #3c4b88;
	--interaction-norm-contrast: white;

	--interaction-weak: #353e60;
	--interaction-weak-hover: #444e72;
	--interaction-weak-active: #565f84;

	--interaction-default: transparent;
	--interaction-default-hover: rgb(68 78 114 / 0.2);
	--interaction-default-active: rgb(68 78 114 / 0.3);

	--shadow-norm-opacity: 0.32;
	--shadow-lifted-opacity: 0.4;

	--backdrop-norm: rgb(0 0 0 / 0.32);

	// Optional colors

	--scrollbar-thumb-color: #353e60;
	--scrollbar-thumb-hover-color: #444e72;
}
