.topnav-link {
  border: 1px solid transparent;
  padding: 1rem;
  color: $white;
  &:focus,
  &:hover,
  &:active,
  &[aria-current="true"] {
    color: $pm-blue;
    text-decoration: none;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.35);
    
    > .topnav-icon {
       fill: $pm-blue;
    }
  }
  &[aria-current="true"] {
    border-color: $pm-blue;
    box-shadow: none;
    font-weight: bold;
  }
}

@if $rtl-option == true {
  [dir="rtl"] {
    .topnav-icon { 
      margin-right: 0;
      margin-left: .5em;
    }
  }
}
