@keyframes protonRotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

// Generates orbit animation function
// @author Nicolas Hoffmann, modified by Matthieu Bué
// @param {String} $name - Animation name
// @param {String} $stroke-width - Default stroke-width of your circle
// @param {Float} $stroke-width-ratio - Ratio to increase $stroke-width value (mitigates disparition effect during rotation)
// @param {String} $type - Type of rotation, X or Y
@mixin orbit($name, $stroke-width, $stroke-width-ratio, $type) {

  @keyframes #{$name} {
    0% {
      transform: unquote("#{$type}(0)");
      stroke-width: $stroke-width;
    }

    25% {
      stroke-width: $stroke-width * $stroke-width-ratio;
    }

    50% {
      stroke-width: $stroke-width;
    }

    75% {
      stroke-width: $stroke-width * $stroke-width-ratio;
    }

    100% {
      transform: unquote("#{$type}(360deg)");
      stroke-width: $stroke-width;
    }
  }
}


// We need to adjust animation for small size.
$stroke-width-default: 4 !default;
$stroke-width-small  : 1.5 !default;

.loadingAnimation {
  animation: protonRotate 3s ease-in-out infinite;
  will-change: transform;

  &-circle {
    fill: transparent;
    stroke: var(--fillcolor-icons, $pm-global-grey);
    stroke-width: $stroke-width-default;
    transform-origin: 50%;
    will-change: transform;

    &--smaller {
      stroke-width: $stroke-width-small;
    }

    &--pm-primary {
      stroke: $pm-primary;
    }

    &--global-light {
      stroke: $pm-global-light;
    }
  }

  &-orbit {
    &1 {
      animation: protonOrbit1 3s linear infinite;

      &--smaller {
        animation: protonOrbit1-small 3s linear infinite;
      }
    }

    &2 {
      animation: protonOrbit2 3s linear infinite .1s;

      &--smaller {
        animation: protonOrbit2-small 3s linear infinite .1s;
      }
    }
  }
}

@include orbit('protonOrbit1', $stroke-width-default, 2, 'rotateX');
@include orbit('protonOrbit2', $stroke-width-default, 2, 'rotateY');

@include orbit('protonOrbit1-small', $stroke-width-small, 1.5, 'rotateX');
@include orbit('protonOrbit2-small', $stroke-width-small, 1.5, 'rotateY');


.atomLoader-text::after {
  position: absolute;
  overflow: hidden;
  display: inline-block;
  animation: ellipsis steps(4,end) 900ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0;
}

@keyframes ellipsis {
  to { width: 1.25em }
}



