$scrollbar-thumb-color       : rgba(black, .35);
$scrollbar-thumb-hover-color : rgba(black, .5);
$scrollbar-track-color       : transparent;
$scrollbar-size              : .6rem;
$scrollbar-margin            : .2rem;

$selector-custom-scroll: '.customScrollBar-container' !default;
@if ($custom-scroll) {
	$selector-custom-scroll: '*';
}

#{$selector-custom-scroll} {

	$real-size: $scrollbar-size + ($scrollbar-margin * 2);

	// W3C, Firefox
	scrollbar-width: thin;
	scrollbar-color: $scrollbar-thumb-color $scrollbar-track-color;

	// webkit specific
	&::-webkit-scrollbar {
		width: $real-size;
		height: $real-size;
	}

	&::-webkit-scrollbar-thumb {
		border: $scrollbar-margin solid transparent; // Margin
		background-clip: padding-box; // Booyah!
		border-radius: $real-size/2;
		background-color: $scrollbar-thumb-color;
	}

	&::-webkit-scrollbar-track {
		background-color: $scrollbar-track-color;
	}

	&::-webkit-scrollbar-thumb:horizontal,
	&::-webkit-scrollbar-thumb:vertical {
		&:hover {
			background-color: $scrollbar-thumb-hover-color;
		}
	}
}
