.label-stack {
	--item-wide: 10em;
	--item-narrow: 1.375em;

	&-item {
		max-width: var(--item-wide);
		padding: 0 .25em;
		margin: 0 .125em;
		border-radius: 1em;
		background-color: var(--color, currentColor);
		line-height: 1.25;
		transition: .4s .25s easing(easeInOutQuart), border-radius 0s;

		&:hover,
		&:focus-within {
			box-shadow: 0 0 em(5) 0 rgba(black, .2);
		}

		&-button,
		&-delete {
			color: white;
			transition: inherit;
		}

		&-button {
			padding: 0 .25em .175em;
		}

		&-delete {
			overflow: hidden;
			margin-left: .25em;

			&-icon {
				display: block;
			}
		}
	}

	%minimized { // For factorization
		transform: scale(.7);

		&:not(:first-child) {
			padding-left: 0;
		}

		&:not(:last-child) {
			padding-right: 0;
		}

		.label-stack-item-button,
		.label-stack-item-delete {
			opacity: 0;
		}
	}

	&.is-stacked {

		&:hover,
		&:focus-within {
			.label-stack-item {
				&:not(:hover):not(:focus-within) {
					max-width: var(--item-narrow);
					@extend %minimized;
				}
			}
		}

		&:not(:hover):not(:focus-within) {
			.label-stack-item {
				max-width: var(--item-narrow);

				&:first-child {
					max-width: var(--item-wide);
				}

				&:not(:first-child) {
					@extend %minimized;
				}
			}
		}

		.label-stack-item {
			margin: 0;

			&:hover,
			&:focus-within {
				transition-delay: 0s;
			}
		}
	}
}
