/*
 * aside bar
 */
.aside {
  background: var(--main-bg-color, $pm-global-grey);
  width: $aside-bar-width;
  min-height: 100vh;
  color: $pm-global-light;
  flex-shrink: 0;
  position: relative;
  padding-top: 1.7em;
}

$aside-link-width: 4rem !default;
.aside-link {
  border-radius: 50%;
  width: $aside-link-width;
  height: $aside-link-width;
  padding: 7px;
  background: var(--bgcolor-aside-link, $pm-global-altgrey);
  text-decoration: none;
  position: relative;

  &:focus,
  &:hover,
  &:active,
  &[aria-current="true"] {
    background: $white;
    color: $pm-primary;

    .aside-linkIcon {
      fill: $pm-primary;
    }

  }
}

$aside-linkIcon-width: 2rem !default;
.aside-linkIcon {
  width: $aside-linkIcon-width;
  height: $aside-linkIcon-width;
  fill: var(--fillcolor-icons, $pm-global-light);
}

/* labels */
[class*="aside-link-label-"] {
	position: absolute;
	bottom: -5px;
	left: 3px;
	right: 3px;
	text-transform: uppercase;
	line-height: 1.2;
	color: $white;
	font-size: 1rem;
	padding: 0;
	border-radius: $global-border-radius;
}
.aside-link-label-attention {
	background: $pm-global-attention;
}
.aside-link-label-success {
	background: $pm-global-success;
}

